annotated-types==0.7.0
APScheduler==3.11.0
certifi==2025.10.5
charset-normalizer==3.4.3
dramatiq==1.18.0
environs==14.3.0
gevent==25.9.1
greenlet==3.2.4
idna==3.10
marshmallow==4.0.1
numpy==2.3.3
pillow==11.3.0
prometheus_client==0.23.1
pydantic==1.10.24
pydantic_core==2.41.1
python-dotenv==1.1.1
redis==6.4.0
requests==2.32.5
setuptools==80.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzlocal==5.3.1
urllib3==2.5.0
watchdog==6.0.0
watchdog_gevent==0.2.1
zope.event==6.0
zope.interface==8.0.1
